/src/main/resources/users/
/src/main/resources/discount codes/
/src/main/resources/logs/
/src/main/resources/offs/
/src/main/resources/products/
/src/main/resources/categories/
/target/
/.idea/
/src/main/resources/Cart
/src/.idea/
