.root{
    -fx-spacing: 20;
}

HBox{
    -fx-border-color: gray;
    -fx-spacing: 10;
}

.button{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-font-family: Roboto;
    -fx-text-fill: #2c2c2c;
}

.button:hover{
    -fx-opacity: 0.5;
}

.none{

}

VBox{
    -fx-background-color: white;
    -fx-text-alignment: TOP_CENTER;
}

.right-vbox{
    -fx-border-color: #eaeaea;
    -fx-background-color: #bbbbbb;

}

.filter-item{

}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}
